.box-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.box-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.center-align {
  justify-content: center;
  align-items: center;
}

.bg_red {
  background-color: red;
}

input {
  border: 1px solid #80808070;
  padding: 10px;
  border-radius: var(--borderradius-small);
}

button {
  box-shadow: var(--boxshadow-soft);
  border: none;
  padding: 10px;
  border-radius: var(--borderradius-small);
}
.container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:786px) {
.hide_on_mobile{
  display: none;

}
  
}